.main--login {
  .main__title {
    margin-bottom: 2rem;
  }

  .main__background-spacer {
    width: 16.5rem;
  }

  .main__background-image--abkml {
    right: 0;
    width: 11rem;
    margin-top: 3.5rem;
    margin-right: -2rem;

    @include media-breakpoint-up(md) {
      margin-right: 2rem;
    }
  }

  .main__background-image--cat {
    width: 22rem;
    margin-top: 2rem;
    margin-left: -3.5rem;
  }

  background-image: url("../../images/background/rope.png");
  background-size: 100% auto;
  background-position: center top 22rem;
  background-repeat: no-repeat;
}

.login {
  position: relative;
  max-width: 16.5rem;
  margin: 0 auto;

  &:after {
    content: '';
    position: absolute;
  }
}
