html,
body,
#root,
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

body {
  background-image: linear-gradient(225deg, #fefeff 0%, #e2e2e2 100%);
  background-attachment: fixed;
}

.main {
  overflow-x: hidden;
  padding: 100px 0;
}

.main__header {
  margin-bottom: 80px;
}

.main__content {
  flex: 1 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}

.main__title {
  text-align: center;
}
