@font-face {
  font-family: 'DIN Pro';
  src: url('#{$fonts-path}/DINPro-Regular.eot');
  src: url('#{$fonts-path}/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}/DINPro-Regular.woff') format('woff'),
  url('#{$fonts-path}/DINPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('#{$fonts-path}/DINPro-Bold.eot');
  src: url('#{$fonts-path}/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}/DINPro-Bold.woff') format('woff'),
  url('#{$fonts-path}/DINPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
