$primary: #e42629;

$body-bg: #e2e2e2;
$body-color: #808080;

$font-size-root: 40px;
$fonts-path: '../fonts/';
$font-family-sans-serif: 'DIN Pro';

$line-height-base: 1.2;

$h1-font-size: 1rem;

$headings-font-weight: 700;
$headings-color: $primary;

$input-bg: #ffffff;
$input-border-color: transparent;
$input-box-shadow: -10px 10px 10px 4px #d7d7d7 !important;
$input-border-radius: 10px;

$input-btn-focus-box-shadow: $input-box-shadow;

$input-font-size: 0.9rem;

$btn-box-shadow: $input-box-shadow;
$btn-font-weight: 700;
$btn-border-radius: 24px;


