@import './variables';
@import './fonts';
@import './bootstrap';

@import './animation';
@import './base';
@import './type';
@import './container';
@import './forms';
@import './buttons';


html.dark {
  background-color: rgb(15, 23, 42);
}

.main--login {
  .main__title {
    margin-bottom: 2rem;
  }
}

.main--welcome {
  .main__text {
    text-align: center;
  }

  .main__actions {
    margin-top: 2rem;
    text-align: center;
  }
}

.main--game {
  .main__header {
    margin-bottom: .75rem;
  }
}

.main--rules {
  .main__title {
    margin-bottom: 0;
  }
}

.main:not(.main--game) {
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }

  @media (max-height: 800px) {
    font-size: 16px;
  }
}


.login {
  max-width: 16.5rem;
  margin: 0 auto;
}

.welcome {
  max-width: 860px;
  margin: 0 auto;
}

// Grid
.grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

.grid__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.grid__cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //width: 100px;
  //height: 100px;
  background-color: $white;
  border: 1px solid #808080;
  color: #808080;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  user-select: none;

  @media (max-height: 600px) {
    font-size: 1rem;
  }

  &[data-status="absent"] {
    background-color: #808080;
    color: $white;

    &.cell-reveal {
      animation-name: revealAbsentCharCell;
    }
  }

  &[data-status="present"] {
    background-color: #f9d023;
    border-color: $white;
    color: #808080;

    &.cell-reveal {
      animation-name: revealPresentCharCell;
    }
  }

  &[data-status="correct"] {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &.cell-reveal {
      animation-name: revealCorrectCharCell;
    }
  }
}

.game {
  display: flex;
  flex-direction: column;
  height: 100%;

  #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    align-self: center;
    overflow: hidden;
    position: relative;
    max-width: 90%;
    width: 100%;}

  #board {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
  }

  // Keybaord
  .keyboard {
    margin-top: 0.5rem;

    .row {
      --bs-gutter-x: 0.25em;

      @include media-breakpoint-up(md) {
        --bs-gutter-x: 0.4em;
      }

      &:not(:last-child) {
        margin-bottom: 10px;

        @include media-breakpoint-up(sm) {
          margin-bottom: var(--bs-gutter-x);
        }
      }
    }
  }

  .keyboard__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    //max-width: 3.5rem;
    max-width: 2.8em;
    width: calc(100vw / 12 - var(--bs-gutter-x) * 1.5);
    height: 2.5em;
    min-height: 33px;
    background: $white;
    border-radius: 5px;
    border: 1px solid #808080;
    color: #808080;
    font-size: 0.75rem;
    transition: background-color 0.1s ease, color 0.1s ease;
    font-weight: 700;
    user-select: none;
    text-transform: uppercase;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.22);

    @include media-breakpoint-up(md) {
      border-radius: 9px;
      font-size: 1.125rem; // 27px
    }

    @include media-breakpoint-up(lg) {
      border-radius: 0.6em;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 1rem; // 40px
    }

    @media (orientation: portrait) {
      min-height: 43px;
    }

    /*@include media-breakpoint-up(xxl) {
      max-width: 2.8em;
    }*/

    &[data-status="absent"] {
      background: #808080;
      color: $white;
    }

    &[data-status="present"] {
      background: #f9d023;
      border-color: $white;
      color: #808080;
    }

    &[data-status="correct"] {
      background: $primary;
      border-color: $primary;
      color: $white;
    }

    svg {
      width: 2em;
      height: 2em;
    }

    &[data-size="large"] {
      //max-width: 6rem;
      max-width: 5em;
      width: calc((100vw / 12 - var(--bs-gutter-x)) * 1.5);

      /*@include media-breakpoint-up(xxl) {
        max-width: 180px;
      }*/
    }
  }
}

.rules {
  .rules__section {
    position: relative;
    padding: 1.5rem 0;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 90%;
      height: 1px;
      background-color: #808080;
      transform: translateX(-50%);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    & > *:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  .rules__sample {
    .grid__row {
      display: inline-grid;
    }

    .grid__cell {
      width: 1.2em;
      height: 1.2em;
      font-size: 1.75rem;
    }
  }

  .rules__finish {
    margin: 3.4rem 0;
    color: $primary;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .rules__steps {
    margin-top: 10.5rem;

    .row {
      --bs-gutter-y: 1rem;
      --bs-gutter-x: 0.5rem;
    }
  }

  .rules__steps-item {
    display: flex;
  }

  .rules__steps-number {
    flex: 0 0 auto;
    width: 70px;

    @include media-breakpoint-up(md) {
      width: 30%;
      max-width: 200px;
    }
  }

  .rules__steps-text {
    margin-left: 0.75rem;
    padding-top: 0.5em;
    color: $primary;
    font-weight: 700;
  }

  .rules__actions {
    max-width: 60%;
    margin: 0 auto;
  }
}
